<th:block th:fragment="postTail(posts)">
	<div class="row post" th:each="post : ${posts}">
	    <div class="col-md-1">
    		<div class="d-flex flex-column votebox" >
			    <a class="p-2 upVote" href="javascript:void(0);" th:attr="data-id=${post.id}">
			    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
					  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
					</svg>
			    </a>
			    <div class="p-2 votecount" th:text="${post.voteCount}"></div>
			    <a class="p-2 downVote" href="javascript:void(0);" th:attr="data-id=${post.id}">
			    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
					  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
					</svg>
			    </a>
			</div>
	    </div>
	    <div class="col-md-11">
	        <span class="subreddit-info">
	            <span class="subreddit-text"><a class="posturl" href="#" th:text="${post.subredditName}">{{post.subredditName}}</a></span>
	            <span> . Posted by <a class="username" th:href="@{'/userProfile/' + ${post.userId}}" th:text="${post.userName}">{{post.userName}}</a></span>
	            <span th:text="${post.duration}"> . {{post.duration}}</span>
	        </span>
	        <hr />
	        <div class="post-title">
	            <span class="postname" th:text="${post.postName}"></span>
	        </div>
	        <div>
	            <p class="post-text" th:utext="${post.description}">{{post.description}}</p>
	        </div>
	        <hr />
	        <span>
	            <a class="btnCommments" role="button">
	                <fa-icon [icon]="faComments"></fa-icon>
	                <span th:text="|Comments(${post.commentCount})|">Comments({{post.commentNum}})</span>
	            </a>
	            <a></a>
	            <a class="login" th:href="@{'/detailPost/' + ${post.id}}">
	                Read Post
	            </a>
	        </span>
	    </div>
	</div>
</th:block>