<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/commonHead::commonHead"></th:block>
	<title>Insert title here</title>
	<script src="https://cdn.tiny.cloud/1/ylwqes7ghbi5emf87whlz9lql23d622vkue70t97nb8e0wqv/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
	<div th:replace="fragments/header::commonHeader(${user})"></div>
	<div class="container">
	  <div class="row">
	    <hr />
	    <div class="col-md-9">
	      <div class="row post">
	        <div class="col-md-1">
	          <!-- <th:block th:replace="/fragments/voteButton::voteButton(${post.voteCount})"></th:block> -->
	          <div class="d-flex flex-column votebox" >
				    <a class="p-2 upVote" href="javascript:void(0);" th:attr="data-id=${post.id}">
				    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
						  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
						</svg>
				    </a>
				    <div class="p-2 votecount" th:text="${post.voteCount}"></div>
				    <a class="p-2 downVote" href="javascript:void(0);" th:attr="data-id=${post.id}">
				    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
						  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
						</svg>
				    </a>
				</div>
	        </div>
	        <div class="col-md-11">
	          <span>
	            <span class="subreddit-text"><a class="post-url" href="" th:text="${post.subredditName}">{{post.subredditName}}</a></span>
	            <span> . Posted
	              <span th:text="${post.duration}"> {{post.duration}} </span>
	              by
	              <a class="username" href="" th:text="${post.userName}"></a>
	            </span>
	          </span>
	          <hr />
	          <a href="post.url" class="post-title" th:text="${post.postName}">{{post.postName}}</a>
	          <div>
	            <p class="post-text" th:utext="${post.description}"></p>
	          </div>
	          <div class="post-comment">
	            <form method="post" action="/comment">
	              <input type="hidden" name="postId" th:value="${post.id}" />
	              <input type="hidden" name="layer" th:value="PARENT" />
	              <div class="form-group">
	                <textarea class="form-control" name="text" placeholder="Your Thoughts?"></textarea>
	              </div>
	              <button type="submit" class="login float-right">Comment</button>
	            </form>
	          </div>
	          <div style="margin-top: 60px;">
	          	 <div th:each="comment : ${comments}">
	          	 	<th:block th:replace="/fragments/comment::comment(${comment})"></th:block>
	          	 </div>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-3">
	    	<th:block th:replace="/fragments/sideBar::sideBar"></th:block>
        	<th:block th:replace="/fragments/subredditSideBar::subredditSideBar(${subreddits})"></th:block>
	    </div>
	  </div>
	</div>
	<div th:replace="fragments/footer::commonFooter"></div>
</body>
</html>