<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/commonHead::commonHead"></th:block>
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div th:replace="fragments/header::commonHeader(${null})"></div>
	<div class="login-section">
	    <div class="row justify-content-center">
	        <div class="col-md-3"></div>
	        <div class="col-md-3">
	            <form method="post" action="/login">
				    <h1 class="mb-3 fw-normal text-center">Login</h1>
				    <div class="alert alert-danger" role="alert" th:if="${error != null}">
					  Login Failed. Please check your credentials and try again.
					</div>
				    <div class="form-floating mt-1">
				      <input type="email" required class="form-control " id="email" name="email">
				      <label for="email">Email address</label>
				      <div id="emailFeedback" class="invalid-feedback">
				        Email invalid.
				      </div>
				    </div>
				    <div class="form-floating mt-1">
				      <input type="password" class="form-control " id="password" name="password">
				      <label for="password">Password</label>
				      <div id="passwordFeedback" class="invalid-feedback">
				        Please invalid.
				      </div>
				    </div>
				    <button class="w-100 btn btn-lg btn-primary mt-3" id="signup" type="submit">Sign in</button>
				    <div class="checkbox mt-1">
                      <label>
                        <input type="checkbox" value="remember-me"> Remember me
                      </label>
				    </div>
				    <span class="mt-1">New to SpringReddit? <a href="/signup">SIGN UP</a></span>
				  </form>
	        </div>
	        <div class="col-md-3"></div>
	    </div>
	</div>
	<div th:replace="fragments/footer::commonFooter"></div>
</body>
</html>