<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/commonHead::commonHead"></th:block>
	<script type="text/javascript" src="/js/userProfile.js"></script>
	<title>Insert title here</title>
</head>
<body>
	<div th:replace="fragments/header::commonHeader(${user})"></div>
	<div class="container">
	  <div>
	    Welcome <b th:text="${member.name}">{{name}}</b>.<br /> You have posted <b th:text="${posts.size()}">{{postLength}}</b> time(s) and commented
	    <b th:text="${comments.size()}">{{commentLength}}</b> time(s).
	    You can check your post and comment history below.
	  </div>
	  <hr />
	  <div>
	    Your Posts:
	  </div>
  		<th:block th:replace="/fragments/postTail::postTail(${posts})"></th:block>
	  <hr />
	  <!-- <div>
	    Your Comments:
	  </div>
	  <div>
	    <div class="comment">
	      <div class="username">
	        <a href="/user/comment.username">{{comment.userName}}</a>
	      </div>
	      <div>
	        <p>{{comment.duration}}</p>
	      </div>
	      <b>{{comment.text}}</b>
	    </div>
	    <hr />
	  </div> -->
	</div>
	<div th:replace="fragments/footer::commonFooter"></div>
</body>
</html>