<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/commonHead::commonHead"></th:block>
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div th:replace="fragments/header::commonHeader(${user})"></div>
	<div class="container">
	  <div>
	    Welcome <b>{{name}}</b>.<br /> You have posted <b>{{postLength}}</b> time(s) and commented
	    <b>{{commentLength}}</b> time(s).
	    You can check your post and comment history below.
	  </div>
	  <hr />
	  <div>
	    Your Posts:
	  </div>
	  <app-post-tile [posts]="posts"></app-post-tile>
	  <hr />
	  <div>
	    Your Comments:
	  </div>
	  <div *ngFor="let comment of comments">
	    <div class="comment">
	      <div class="username">
	        <a routerLink="/user/comment.username">{{comment.userName}}</a>
	      </div>
	      <div>
	        <p>{{comment.duration}}</p>
	      </div>
	      <b>{{comment.text}}</b>
	    </div>
	    <hr />
	  </div>
	</div>
	<div th:replace="fragments/footer::commonFooter"></div>
</body>
</html>